* {
  margin: 0px;
  padding: 0px;
}

html {
  background: white;
}

#flex-wrapper {
  height: 100vh;
  overflow: hidden;
}

label {
  width: 25vw;
  display: block;
  float: left;
  height: 100%;
  transition: width 300ms;
}

label#back {
  width: unset;
  height: unset;
  display: none;
  transition: none;

  :checked:not(#back-toggle) ~ & {
    display: inline;
  }
}

label:focus {
  border: 5px solid blue($color: #000000);
}

// :not(input[type='radio']:checked) + label {
// }

input {
  display: none;
}

input[type='radio']:checked + label {
  z-index: 8;
  width: 100%;
}

#freelance {
  background: lightblue;
}

input[type='radio']:checked #gunsallus {
  font-size: 24px;
}
