@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

html {
  background: url('/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backdrop-filter: blur(25px);  
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;

  font-size: 24px;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content {
  width: inherit;
  height: inherit;
}

img {
  position: fixed;
  left: 50%;
  background: rgb(244, 216, 198);
  top: 10vh;
  max-height: 80vh;
  transform: translate3d(-90%, 0, 0);

  @media only screen and (max-width: 800px) {
    left: -10%;
    transform: unset;
  }
}

#name {
  margin-left: 12px;
  font-size: 48px;
  text-transform: uppercase;
}

#bio {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50vw;
}

::selection {
  background: black;
}

a {
  text-decoration: none;
  color: unset;
}

.ellipsis {
  animation-name: fade;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes fade {
  from   {opacity: 1;}
  to  {opacity: 0;}
 
}
