* {
  margin: 0px;
  padding: 0px;
}

html {
  background: black;
}

#flex-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 800px) {
    height: unset;
    flex-direction: column;
  }
}

.responsive-column {
  flex-basis: 25%;
  @media screen and (max-width: 800px) {
    flex-basis: unset;
    min-height: 90vh;
  }
}
